:root {
    --utch-green: #02ba03;
  }

  * {box-sizing: border-box}
  body{
    display: list-item;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .videoCenter{ 
    display: flex;}

  button{
    padding: 7px;
    border-radius: 10px;
  }  
  /*Slideshow container*/
  .slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /*Hide the images by default*/
  .mySlides{
    display: none;
  }

  /* Next & previous buttons*/
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #02ba03;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "netx button" to the right*/
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* ON hover, add a black background color with a little bit see-through*/
  .prev:hover, .next:hover {
    background-color: black;

  }

  /*Caption text */
  .text {
    color: beige;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  



  
  

  